# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr
*.local
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log

# supabase
supabase/.temp
supabase/.branches
